{{!--
<div class="modal is-active">
  <div class="modal-background"></div>
    <div class="modal-card">

      <header class="modal-card-head">
        <p class="modal-card-title">Modal title</p>
        <button class="delete"></button>
      </header>

      <section class="modal-card-body">

    <div class="modal-content">
      <label class="label">Emo</label>
      <p class="control">
        <span class="select">
          <select>
            <option>Emojify your feelings</option>
            <option>{{emoji-character "clap"}}</option>
            <option>{{emoji-character "grinning"}}</option>
            <option>{{emoji-character "heart_eyes"}}</option>
            <option>{{emoji-character "yum"}}</option>
            <option>{{emoji-character "dancer_tone3"}}</option>
            <option>{{emoji-character "thinking"}}</option>
            <option>{{emoji-character "cry"}}</option>
            <option>{{emoji-character "nauseated_face"}}</option>
            <option>{{emoji-character "metal"}}</option>
          </select>
        </span>
      </p>
      <label class="label">Write em out!</label>
      <p class="control">
        <textarea class="textarea" placeholder="Feelings..."></textarea>
      </p>
    </div>
</section>

    <button class="modal-close"></button>
  </div>
</div> --}}
