{{outlet}}

{{#each model as |memory|}}
  <article class="media">
    <figure class="media-left">
        <img class="image" src="http://cdn-s3.allmusic.com/release-covers/500/0000/332/0000332502.jpg">
    </figure>

    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{memory.track.artists.[0].name}}</strong>
          <large>{{memory.track.name}}</large>
          <strong>{{memory.date}}</strong>
          <br>
          {{emoji-character memory.emoji}} {{memory.text}}
        </p>
      </div>
    </div>
  </article>
{{/each}}
