{{outlet}}
<div class="content has-text-centered">
  <h1 class="title is-1">{{model.name}}'s Timeline</h1>
  <p class="subtitle is-3">{{emoji-character "notes"}} Let's take an etch trip down memory lane {{emoji-character "notes"}}</p>
</div>


<ul class="etch-memories">
  {{#each (sort-by "createdAt:desc" model.memories) as |memory|}}
    {{memory-item memory=memory}}
  {{/each}}
</ul>
