{{outlet}}

<div class="content has-text-centered">
  <h1 class="title is-1">Most Popular {{emoji-character "crown"}}</h1>
  <p class="subtitle is-3">Check out the top 10 most popular songs on etch right now!</p>
</div>

  <div class="memories">

    {{#each model as |track index|}}
    <a class="memory" href="https://open.spotify.com/track/{{track.id}}" target="_blank">
      <div class="record record--with-center">
        <img class="record__pic" src="{{track.album.images.firstObject.url}}"/>
      </div>
      <div class="memory__content has-text-centered">
        <h2 class="title is-5">#{{add index 1}} {{track.artists.[0].name}}</h2>
        <h2 class="subtitle is-6">{{track.name}}</h2>
      </div>
    </a>
    {{/each}}

  </div>
