{{!-- {{outlet}}

<h1>A map goes here</h1> --}}

{{!-- <p>Latitude: <code>{{lat}}</code> / Longitude: <code>{{lng}}</code></p> --}}
{{#leaflet-map class="leaflet-container" lat=lat lng=lng zoom=zoom onMoveend=(action "updateCenter")}}
  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

  {{#each model as |memory|}}
    {{#if memory.lat}}

      {{#marker-layer
        location=(arr memory.lat memory.lng)
        icon=(icon iconUrl="/images/record50px.png" iconSize=(point 40 40))}}
        {{#popup-layer}}
          <h2>{{emoji-character memory.emoji }} {{ memory.user.username }} </h2>
        {{/popup-layer}}
      {{/marker-layer}}
    {{/if}}
  {{/each}}


{{/leaflet-map}}
