{{outlet}}

<div class="content has-text-centered">
  <p class="title is-2">My Friends</p>
  <p class="subtitle is-4">{{emoji-character "notes"}} Click to see what my freinds etched! {{emoji-character "dancers"}}</p>
</div>

<div class="memories">

  {{#each model as |friend|}}
  {{#link-to "admin.friends.profile" friend class="memory"}}
    {{profile-pic user=friend}}
    <p class="has-text-centered subtitle">{{friend.username}}</p>
  {{/link-to}}
  {{/each}}

</div>
