{{outlet}}

<div class="profile-container">

  <div class="profile">
    {{profile-pic user=model}}
  </div>
  <div class="info content">
    <h1>@{{model.username}}</h1>
    {{!-- <h2>Nashville, TN.</h2>
    <h2>http://kittybotblog.io</h2> --}}
    <button type="button" class="form__btn"{{action "choosePic" currentUser.user}}>Upload Profile Pic</button>


    {{#simple-form startingValues=model onsubmit=(action "update") as |formValues|}}
      {{input value=formValues.username placeholder="Username"}}
      {{input value=formValues.email placeholder="Email"}}
      {{input value=formValues.location placeholder="Location"}}



      <button>Submit</button>
    {{/simple-form}}
  </div>

</div>

<div class="memories">

  <div class="memory">
    <div class="record record--with-center">
      <img class="record__pic" src="http://www.comparevinyl.com/assets/blank_record-88f526f5bf343a5eba24e53c62acfe85.png"/>
    </div>
  </div>

  <div class="memory">
    <div class="record record--with-center">
      <img class="record__pic" src="http://www.comparevinyl.com/assets/blank_record-88f526f5bf343a5eba24e53c62acfe85.png"/>
    </div>
  </div>

  <div class="memory">
    <div class="record record--with-center">
      <img class="record__pic" src="http://www.comparevinyl.com/assets/blank_record-88f526f5bf343a5eba24e53c62acfe85.png"/>
    </div>
  </div>

  <div class="memory">
    <div class="record record--with-center">
      <img class="record__pic" src="http://www.comparevinyl.com/assets/blank_record-88f526f5bf343a5eba24e53c62acfe85.png"/>
    </div>
  </div>

</div>
