{{outlet}}
<div class="etch-container">

  <div class="hero">
    {{#link-to "etch.song"}}
    <img class="record-song" src="/images/record.png"/>
    {{/link-to}}
  </div>

  <div class="etch-info content">
    <h3>Step 1: {{emoji-character "notes"}} Hear a song {{emoji-character "notes"}}</h3>
    <h3>Step 2: Click the {{emoji-character "cd"}} and search for your song</h3>
    <h3>Step 3: Save your memory! {{emoji-character "heart"}}</h3>
  </div>

  {{!-- {{#each model as |track|}}
    {{track.name}}
  {{/each}} --}}

</div>
