{{outlet}}

<h1 class="title is-1 has-text-centered">{{emoji-character ":musical_score"}}Let's etch!</h1>
<p class="subtitle is-3 has-text-centered">Follow the steps to log your first memory...</p>

<div class="etch-container">

  <div class="hero">
    {{#link-to "etch.song"}}
    <img class="album" src="/images/record.png"/>
    {{/link-to}}
  </div>

  <div class="etch-info content">
    <h1>Step 1: {{emoji-character "notes"}} Hear a song {{emoji-character "notes"}}</h1>
    <h1>Step 2: Click the <img class="emojione" src="/images/record.png"/> and search for your song</h1>
    <h1>Step 3: Save your memory! {{emoji-character "heart"}}</h1>
  </div>

</div>
