  <li class="etch-memories__item">
    <img class="record" src="{{memory.track.album.images.firstObject.url}}"/>
      <div class="etch-memories__item-content">
            <div class="content">
              <p class="">
                {{#each memory.track.artists as |artist|}}
                  {{artist.name}}
                {{/each}}
              </p>

              <p>{{memory.track.name}}</p>
              <p>{{moment-from-now memory.createdAt "YYYY-MM-DD HH:mm:ss"}}</p>
              <br>
              {{emoji-character memory.emoji}} {{memory.text}}
            </div>
      </div>
  </li>
