  <li class="etch-memories__item is-clearfix">
    <img class="record" src="{{memory.track.album.images.firstObject.url}}"/>
    <div class="etch-memories__item-content">
      <p>{{moment-from-now memory.createdAt}}</p>

      <h1 class="title is-5">
        {{#each memory.track.artists as |artist|}}
          {{artist.name}}
        {{/each}}
      </h1>

      <h2 class="subtitle is-6">{{memory.track.name}}</h2>
      <p class="shit">{{emoji-character memory.emoji}} {{memory.text}}</p>

    </div>
  </li>
